body{
    background-image: linear-gradient(#7226e4, rgb(228, 25, 72));
    font-family: 'Fredoka One';
    color: white;
}

h1{
    text-align: center;
    font-size: 90px;
    margin-top: 5px;
    font-family: 'Fredoka One';
}
.boton{
    height: 100px;
    width: 100px;
    font-size: 10px;
    color: black;
    background-color: rgb(235, 182, 8);
    font-family:'Fredoka One';
    font-size: 48px;
    border: 1px solid;
    border-radius: 20px;
    border-color:rgb(238, 145, 38);
    border-width: 10px;
    text-align: center;
     
}
.boton:hover{
    background-color: rgb(211, 167, 22);
    border-color:rgb(186, 113, 29);
    border-radius: 20px;
    cursor: pointer;
}

#menu{
    width: 30px;
    height: 30px;
}
 
main{
    margin-top: 3%;
 
}

*{
    margin: 0px;
    padding: 0px;
}

.area{
     
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

#flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    margin-left: auto;
    margin-right: auto;
}

.mainmenu{
    font-size: 25px;
    font-family:'Fredoka One';
    color: white;
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    border: 1px solid rgb(236, 98, 98);
    border-width: 10px;
    cursor: pointer;
}

.mainmenu:hover{
    font-size: 25px;
    font-family:'Fredoka One';
    color: rgb(112, 112, 112);
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(133, 0, 0);
    border: 1px solid rgb(82, 34, 34);
    border-width: 10px;
    cursor: pointer;

}

#ayuda{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: rgb(255, 218, 6);
    border: rgb(241, 179, 8) solid 10px;
    border-width: 10px;
    cursor: pointer;
    font-size: 60px;
    font-family:'Fredoka One';
    border-radius: 50px;
    color: rgb(241, 179, 8);
    position: fixed;
    float: right;
}

#ayuda:hover{
    font-size: 60px;
    font-family:'Fredoka One';
    border-radius: 50px;
    background-color: rgb(211, 167, 22);
    border: 10px solid rgb(186, 113, 29);
    position: fixed;
    float: right;
    
}

.ventana{
    background-color: #7119f7;
    border: #4e0fad solid  10px;
    width: 80%;
    height: 85%;
    color: white;
    font-family:'Fredoka One';
    font-size: 50px;
    text-align: center;
    padding: 33px;
    min-height: 250px;
    border-radius: 22px;
    position: absolute;
    left: 8%;
    top: 2%;
    display: none;
}

#cerrar{
    position:absolute;
    right:10px;
    top:-10px;
}

.texto{
    font-size: 30px;
    text-align: left;
}